@page
@model EletrodomesticosAppWeb.Pages.DetalhesModel

<h2 class="my-3">@Model.Eletrodomestico.Nome</h2>

<div class="row">
    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Eletrodomestico.ImagemUri">
    </div>
    <div class="col-6">
        <h4 class="my-3">Sobre:</h4>
        <p>@Model.Eletrodomestico.Descricao</p>
        <h4 class="my-3">Mais Info:</h4>
        <ul>
            <li>Preço: @Model.Eletrodomestico.Preco</li>
            <li>Frete Grátis: @Model.Eletrodomestico.FreteGratis</li>
            <li>Disponível em: @Model.Eletrodomestico.DataCadastro</li>
        </ul>
        <a class="btn my-3 btn-primary">Editar</a>
    </div>
</div>

